body {
	background-color: #232323;
	margin: 0;
}

#container {
	width: 50%;
	max-width: 600px;
	margin: 0 auto;
}

#bar {
	margin-bottom: 20px;
	width: 100%;
	
	background-color: white;
	padding-left: 30%;
	padding-top: 10px;
}

#reset {
	text-decoration: none;
}

#output {

}

.square {
	background-color: purple;
	padding-bottom: 30%;
	width: 30%;
	margin: 1.66%;
	float: left;
}

h1, h2 {
	margin-top: 20px;
	text-align: center;
	color: white;
}

a:hover {
	background-color: red;
}


















