body {
	background-color: #232323;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 7px 7px black;
}

#head {
	background-color: #232323;
	line-height: 2;
	padding: 20px 0;

}

#reset:hover {
	color: white;
	background-color: #232323;
}

#container {
	width: 50%;
	max-width: 600px;
	margin: 0 auto;
}

#output {
	text-align: center;
	display: inline-block;
	width: 20%;
}

#bar {
	height: 50px;
	background-color: #f2f2f2;
	text-align: center;
	margin-bottom: 12px;
	padding: 0;
}

#btn {

}

.square {
	background-color: purple;
	padding-bottom: 30%;
	width: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 75px;
	transition: all 0.3s;
}

button {
	height: 100%;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-shadow: 1px 1px grey;
	font-size: 100%;
	letter-spacing: 2.0;
	background: none;
	transition: all 0.3s;
}

button:focus {
	outline: 0;
}

h1, h2 {
	text-align: center;
	color: white;
	margin: 0;
}

h2 {
	font-size: 300%;
}






















